:host {
  display: block;
  height: 100%;
}

#cy {
  width: 100%;
  height: 600px;
  border: 1px solid #12212F;
  background-color: #12212F; /* fundo do grafo */
  margin: auto;
  border-radius: 8px;
}